body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    font-size: x-large;

}

.principal {
    background-color: rgb(255, 232, 232);
    flex-grow: 1;
    padding: 10px;

}


.barra {
    background-color: rgb(43, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}


@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }
    .barra {
        flex-direction: row;
        justify-content: space-evenly;
    }
}